<h1>Đây là trang danh sách</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>1</td>
        <td>LuongNV16</td>
        <td>luongnv16@fpt.edu.vn</td>
        <td>
            <button class="btn btn-success">Chi tiết</button>
            <button class="btn btn-warning">Sửa</button>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>thaivm2</td>
        <td>thaivm2@fpt.edu.vn</td>
        <td>
            <button class="btn btn-success">Chi tiết</button>
            <button class="btn btn-warning">Sửa</button>
        </td>
    </tr>
</table>